/* Importing Portfolio's Styles: */
@import "../styles.css";

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 1.25rem;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid var(--card-border);
    border-top-color: var(--accent-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1.25rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

#delay-msg h2, p {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

#delay-msg h2 {
    animation-delay: 3s;
    margin-bottom: 3rem;
}

#delay-msg p {
    animation-delay: 4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
